.image-tool__image {
    background-color: transparent !important;
}

h1.ce-header{
    @apply text-3xl font-bold py-2
}
h2.ce-header{
    @apply text-2xl font-semibold py-2
}
h3.ce-header{
    @apply text-xl font-semibold py-2
}
h4.ce-header{
    @apply text-lg font-semibold py-2
}
h5.ce-header{
    @apply text-base font-semibold py-2
}
h6.ce-header{
    @apply text-base font-semibold py-2
}

.ce-delimiter{
    height: fit-content !important;
    line-height: 1px !important;
    padding: 0 !important;
}

.ce-delimiter:before{
    content: "" !important;
    width: 100%;
    height: 1px !important;
    margin: 15px 0;
    background-color: #efefef;

}
